* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Roboto", sans-serif !important;
}

.header {
	height: 813px;
	color: #CBCBCD;
	text-align: center;
	background: url('img/header.jpg') no-repeat center bottom;
	-webkit-background-size: cover;

}



